body {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
    background-color: #f3f3f3;
    margin: 0;
    font-family: 'Lucida Sans', sans-serif;
    text-align: justify;
}

.navbar {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: rgb(61, 61, 226);
    z-index: 999;
}

a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    background-color: rgb(72, 72, 216);
}

main {
    height: 100%;
    padding: 0% 10%;
    margin-top: 60px;
    overflow: auto;
}

p {
    margin-bottom: 24px;
    line-height: 1.5;
}

h1 {
    font-family: 'Grenze Gotisch', 'serif';
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

button {
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
}

button:hover, button:active {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.section {
    margin-top: 60px;
    padding-top: 20px;
}

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.viz-container {
    height: 60%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 70%;

}

.viz-container:not(:has(#dates)) {
    background-color: white;
}

.xy {
    cursor: default;
}

.graph {
    width: 100%;
    height: 100%;
}

H2 {
    text-align: start;
    color: #000;
    font-weight: 900;
}


.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 25px 100px;
    margin: 0 25px 0 0;
    border-width: 1px 1px 0 0; 
    border-radius: 0 25px 0 0;
    border-style: solid;
    border-color: black;
}

.info {
    display: flex;
    flex-direction: column;
}

#mode {
    font-weight: bold;
}

.end {
    height: 20vh;
}